<html>
    <head>
        <title>Messages wall</title>
    </head>
    <body>
        <form action="/post" method="POST">
            <input type="text" name="message">
            <input type="submit">
        </form>

        <div>
            {% for message in messages %}
                <div>
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        </div>
    </body>
</html>